Repository RodrigoSC89/travel-hr-buddy: changes, and which Codecov flags are due for each by the changed paths.
All: ui, backend, ci

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: 80..100
  status:
    project:
      default:
        target: 85%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 1%
        informational: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

ignore:
  - "tests/"
  - "__tests__/"
  - "src/tests/"
  - "src/lib/dev/mocks/"
  - "src/assets/"
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/*.test.tsx"

flags:
  ui:
    paths:
      - "src/components/"
      - "src/modules/"
    carryforward: true
  backend:
    paths:
      - "src/api/"
      - "src/hooks/"
    carryforward: true
  ci:
    paths:
      - ".github/"
    carryforward: true

parsers:
  javascript:
    enable_partials: true

docs: adiciona relatÃ³rio completo de dÃ­vidas tÃ©cnicas V5
  docs/TECHNICAL_DEBT_REPORT_V5.md
Due: none

fix: corrige todas as dividas tecnicas identificadas
  src/components/integration/api-hub-nautilus.tsx
  src/components/voice/VoiceAssistantWithHotword.tsx
  src/mobile/services/enhanced-sync-engine.ts
  src/services/space-weather/celestrak.service.ts
Due: ui

fix: remove console.log e adiciona logger centralizado
  src/components/ai/nautilus-copilot-advanced.tsx
  src/components/fleet/FleetCommandCenter.tsx
  src/components/maritime-checklists/machine-routine-checklist.tsx
  src/components/maritime/hr-dashboard.tsx
  src/core/index.ts
  src/integrations/interop/protocolAdapter.ts
  src/integrations/weather/api.ts
  src/modules/features/checklists/hooks/useChecklists.ts
  src/modules/features/checklists/services/checklistService.ts
  src/modules/system-watchdog/watchdog-service.ts
  src/pages/admin/module-llm-helper.tsx
  src/pages/admin/org-360.tsx
  src/services/space-weather/space-weather-monitoring.service.ts
  src/utils/PreOVIDRealtimeAudio.ts
  src/utils/module-routes.ts
  src/utils/moduleStatus.ts
  src/utils/route-audit.ts
  src/utils/templates/exportToPDF.ts
Due: ui

fix(P0): remove mock data from critical hooks + add ErrorState component
  src/components/ui/ErrorState.tsx
  src/hooks/useAutonomousAgentActionsData.ts
  src/hooks/useCrewHealthData.ts
  src/hooks/useCrewMedicalData.ts
  src/hooks/useDueDiligence.ts
  src/hooks/useFleetTrackingData.ts
  src/hooks/usePredictiveMaintenanceData.ts
  src/hooks/useRegulations.ts
Due: ui, backend

fix(P0.11): remove mock data from vessel-management.tsx
  src/components/fleet/vessel-management.tsx
Due: ui

fix(P0): remove mock fallbacks from critical hooks + add audit reports
  docs/MODULE_MAP_V4.md
  docs/TECH_DEBT_REPORT_V4.md
  docs/UX_DEBT_REPORT_V4.md
  src/hooks/useCommunicationData.ts
  src/hooks/useCrewWellnessData.ts
  src/hooks/useDPIncidentsData.ts
  src/hooks/useEmployeePortalData.ts
  src/hooks/useIntegrationsData.ts
  src/hooks/useLiveInventoryData.ts
  src/hooks/useMaritimeActions.ts
Due: backend

docs: add FINAL_10_OF_10_REPORT.md - progress tracking
  docs/FINAL_10_OF_10_REPORT.md
Due: none

fix(P1): integrate useComplianceData with Supabase - remove mock data
  src/modules/compliance-hub/hooks/useComplianceData.ts
Due: ui

docs: update FINAL_10_OF_10_REPORT.md - P1 complete
  docs/FINAL_10_OF_10_REPORT.md
Due: none

fix(P2): reduce any types from 38 to 36
  src/hooks/useCrewMedicalData.ts
  src/hooks/useFleetTrackingData.ts
  src/hooks/useTimeTracking.ts
  src/hooks/useVesselsRealData.ts
  src/hooks/useWorkflows.ts
  src/modules/system-watchdog/watchdog-service.ts
  src/pages/OperationsCommandCenter.tsx
  src/pages/StatusPage.tsx
Due: ui, backend

docs: update FINAL_10_OF_10_REPORT.md - P2 in progress
  docs/FINAL_10_OF_10_REPORT.md
Due: none

fix(P2): improve type safety in page components
  src/pages/PortCallOptimizationV2.tsx
  src/pages/PredictiveTelemetry.tsx
  src/pages/VesselCTS.tsx
  src/pages/VesselContracts.tsx
  src/pages/VesselContractsV2.tsx
  src/pages/VesselHistory.tsx
Due: none

docs: update FINAL_10_OF_10_REPORT.md - P2 at 80%
  docs/FINAL_10_OF_10_REPORT.md
Due: none

fix(P2): complete type safety improvements in components
  src/components/fleet/vessel-tracking.tsx
  src/components/v2/ModuleEvidenceGenerator.tsx
Due: ui

docs(P3): add ARCHITECTURE.md + update FINAL_10_OF_10_REPORT
  docs/ARCHITECTURE.md
  docs/FINAL_10_OF_10_REPORT.md
Due: none

fix(P2): improve type safety in fleet components
  src/components/fleet/CTSCompliancePanel.tsx
  src/components/fleet/FleetCommandCenter.tsx
  src/components/fleet/FleetMapBox.tsx
Due: ui

docs(P3): add complete documentation
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT_GUIDE.md
  docs/FINAL_10_OF_10_REPORT.md
Due: none

docs: add INTEGRATION_AUDIT_REPORT.md
  docs/INTEGRATION_AUDIT_REPORT.md
Due: none

docs: complete ETAPA 0-2 of MODULE FUSION PLAN
  docs/MODULE_FUSION_PLAN.md
  docs/MODULE_INVENTORY.md
  docs/REDIRECTS_COMPAT.md
  docs/SIDEBAR_NEW_TREE.md
  docs/VITRINE_MODULES.md
Due: none

feat: implement PROMPT MASTER V4.1 - Module Fusion + Hub Integration
  docs/FUSION_INVENTORY_GROUP_A.md
  src/App.tsx
  src/components/logistics/UnifiedLogisticsDashboard.tsx
  src/pages/AIControlTowerHub.tsx
  src/pages/CommsAlertsHub.tsx
  src/pages/DocumentCenterHub.tsx
  src/pages/OperationsCommandHub.tsx
  src/pages/PeopleHub.tsx
  src/pages/TrackingTelemetryHub.tsx
  src/routes/legacy-redirects.tsx
Due: ui

docs: add 10_10_SCORECARD.md - ETAPA 4 complete
  docs/10_10_SCORECARD.md
Due: none

feat: achieve 10/10 - complete sidebar integration with unified hubs
  docs/10_10_SCORECARD.md
  src/config/sidebar-routes.ts
Due: none

feat: implement TECH DEBT GATES - zero regression system
  .github/workflows/quality-gates.yml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  docs/QUALITY_GATES.md
  package.json
  scripts/gates/gate-all.cjs
  scripts/gates/gate-all.js
  scripts/gates/gate-any.cjs
  scripts/gates/gate-any.js
  scripts/gates/gate-console.cjs
  scripts/gates/gate-console.js
  scripts/gates/gate-fake-api.cjs
  scripts/gates/gate-fake-api.js
  scripts/gates/gate-mocks.cjs
  scripts/gates/gate-mocks.js
  scripts/gates/gate-routes.cjs
  scripts/gates/gate-routes.js
  scripts/gates/gate-ts-ignore.cjs
  scripts/gates/gate-ts-ignore.js
Due: ci

chore: remove duplicate .js files (using .cjs only)
  scripts/gates/gate-all.js
  scripts/gates/gate-any.js
  scripts/gates/gate-console.js
  scripts/gates/gate-fake-api.js
  scripts/gates/gate-mocks.js
  scripts/gates/gate-routes.js
  scripts/gates/gate-ts-ignore.js
Due: none

docs: add AUDIT_REPORT_V5_FINAL.md - comprehensive technical audit
  docs/AUDIT_REPORT_V5_FINAL.md
Due: none

feat: sistema pronto para operaÃ§Ã£o real
  docs/PRODUCTION_READY_REPORT.md
  src/modules/revolutionary-ai/LiveInventoryMap.tsx
  src/modules/revolutionary-ai/PredictiveMaintenanceScheduler.tsx
Due: ui

feat(ops-v7): implementaÃ§Ã£o inicial para operaÃ§Ã£o real marÃ­tima
  docs/OPS_READINESS_BASELINE.md
  docs/OPS_READINESS_REPORT_V7.md
  docs/OPS_RISK_REGISTER.md
  scripts/gates/gate-no-mock-prod.cjs
  src/components/integrations/IntegrationStatusBadge.tsx
  src/lib/aisClient.ts
  src/lib/health-check.ts
  src/lib/ops-mode.ts
  src/types/integration-status.ts
  supabase/migrations/20260131_ops_audit_immutable.sql
Due: ui

feat(ops-v7.1): sistema pronto para operaÃ§Ã£o real - 92%
  docs/OPS_READINESS_REPORT_V7.md
  src/components/sgso/NonConformityManager.tsx
  src/components/sgso/TrainingCompliance.tsx
  src/hooks/useAuditLog.ts
  src/hooks/useSGSOData.ts
  src/lib/ops-mode.ts
Due: ui, backend

feat(ops-v7.2): SISTEMA 10/10 TIER-1 READY - Offline-first + E2E + SyncQueue
  docs/OPS_READINESS_REPORT_FINAL_10.md
  e2e/core-modules.spec.ts
  src/components/offline/OfflineStatusBanner.tsx
  src/lib/sync-queue.ts
  src/providers/OfflineStatusProvider.tsx
Due: ui

Fix React Server Components CVE vulnerabilities
  package.json
Due: none

Delete bun.lockb
  bun.lockb
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Add Node.js/Express backend with Supabase integration
  .github/workflows/deploy-backend.yml
  backend/.env.example
  backend/.gitignore
  backend/Dockerfile
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/routes/ai.ts
  backend/src/routes/crew.ts
  backend/src/routes/missions.ts
  backend/src/routes/vessels.ts
  backend/src/services/supabase.ts
  backend/src/types/index.ts
  backend/tsconfig.json
Due: ci
