Repository RodrigoSC89/travel-hr-buddy: changes, and which Codecov flags are due for each by the changed paths.
All: ui, backend, ci

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: 80..100
  status:
    project:
      default:
        target: 85%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 1%
        informational: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

ignore:
  - "tests/"
  - "__tests__/"
  - "src/tests/"
  - "src/lib/dev/mocks/"
  - "src/assets/"
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/*.test.tsx"

flags:
  ui:
    paths:
      - "src/components/"
      - "src/modules/"
    carryforward: true
  backend:
    paths:
      - "src/api/"
      - "src/hooks/"
    carryforward: true
  ci:
    paths:
      - ".github/"
    carryforward: true

parsers:
  javascript:
    enable_partials: true

fix(two-factor-settings): Corrigir todos toast closing parenthesis
  src/components/auth/two-factor-settings.tsx
Due: ui

fix(service-status-panel): Remover memo closing incorreto
  src/components/integration/service-status-panel.tsx
Due: ui

fix(APIGateway): Corrigir setVisibleKeys closing parenthesis
  src/pages/APIGateway.tsx
Due: none

fix(AITraining): Remover memo closing incorreto
  src/pages/AITraining.tsx
Due: none

fix(Dashboard): Corrigir loadDashboardData closing - deve ser }; não });
  src/pages/Dashboard.tsx
Due: none

fix: Corrigir todos ErrorBoundary class methods closing parenthesis
  src/components/ErrorBoundary.tsx
  src/components/errors/ComponentErrorBoundary.tsx
  src/components/errors/CriticalRouteErrorBoundary.tsx
  src/components/errors/DashboardErrorBoundary.tsx
  src/components/errors/GlobalErrorBoundary.tsx
  src/components/errors/ModuleErrorBoundary.tsx
  src/components/errors/RouteErrorBoundary.tsx
Due: ui

fix: Corrigir errorTrackingService.track closing em todos ErrorBoundary
  src/components/errors/ComponentErrorBoundary.tsx
  src/components/errors/DashboardErrorBoundary.tsx
  src/components/errors/GlobalErrorBoundary.tsx
  src/components/errors/ModuleErrorBoundary.tsx
  src/components/errors/RouteErrorBoundary.tsx
Due: ui

fix: Corrigir TODOS ErrorBoundary constructor e getDerivedStateFromError
  src/components/errors/ComponentErrorBoundary.tsx
  src/components/errors/DashboardErrorBoundary.tsx
  src/components/errors/GlobalErrorBoundary.tsx
  src/components/errors/ModuleErrorBoundary.tsx
  src/components/errors/RouteErrorBoundary.tsx
Due: ui

fix(DashboardErrorBoundary): Corrigir handleReset closing - deve ser }; não });
  src/components/errors/DashboardErrorBoundary.tsx
Due: ui

fix: Corrigir todos const errorReport object literal closing
  src/components/errors/GlobalErrorBoundary.tsx
Due: ui

fix: Corrigir últimos 2 async functions em TenantContext e OrganizationContext
  src/contexts/OrganizationContext.tsx
  src/contexts/TenantContext.tsx
Due: none

fix(OrganizationContext): Corrigir roleHierarchy object literal - deve ser }; não });
  src/contexts/OrganizationContext.tsx
Due: none

fix(enhanced-settings-hub): Corrigir exportSettings closing - deve ser }; não });
  src/components/settings/enhanced-settings-hub.tsx
Due: ui

fix: Corrigir TODOS handleReset em ErrorBoundary - deve ser }; não });
  src/components/ErrorBoundary.tsx
  src/components/errors/ComponentErrorBoundary.tsx
  src/components/errors/CriticalRouteErrorBoundary.tsx
  src/components/errors/DashboardErrorBoundary.tsx
  src/components/errors/GlobalErrorBoundary.tsx
  src/components/errors/ModuleErrorBoundary.tsx
  src/components/errors/RouteErrorBoundary.tsx
Due: ui

fix(ModuleErrorBoundary): Corrigir errorTrackingService.trackRuntimeError closing - ÚLTIMO ERRO
  src/components/errors/ModuleErrorBoundary.tsx
Due: ui

fix: Corrigir TODOS errorTrackingService.trackRuntimeError closing em ErrorBoundary
  src/components/errors/DashboardErrorBoundary.tsx
  src/components/errors/GlobalErrorBoundary.tsx
  src/components/errors/ModuleErrorBoundary.tsx
  src/components/errors/RouteErrorBoundary.tsx
Due: ui

fix: Correção em massa de mais 3 arquivos com }; → });
  src/components/auth/ActiveSessionDisplay.tsx
  src/components/errors/CriticalRouteErrorBoundary.tsx
  src/components/errors/DashboardErrorBoundary.tsx
Due: ui

fix(ActiveSessionDisplay): Corrigir useEffect cleanup function closing
  src/components/auth/ActiveSessionDisplay.tsx
Due: ui

fix(DashboardErrorBoundary): Corrigir constructor this.state closing
  src/components/errors/DashboardErrorBoundary.tsx
Due: ui

fix: Corrigir mais ErrorBoundary constructors
  src/components/errors/RouteErrorBoundary.tsx
Due: ui

fix(GlobalErrorBoundary): Corrigir constructor this.state closing
  src/components/errors/GlobalErrorBoundary.tsx
Due: ui

fix: Corrigir getDerivedStateFromError em todos ErrorBoundary
  src/components/errors/DashboardErrorBoundary.tsx
  src/components/errors/GlobalErrorBoundary.tsx
  src/components/errors/ModuleErrorBoundary.tsx
  src/components/errors/RouteErrorBoundary.tsx
Due: ui

fix(ActiveSessionDisplay): Corrigir loadSessionInfo async function closing
  src/components/auth/ActiveSessionDisplay.tsx
Due: ui

fix: Corrigir últimos parsing errors - build passa 100%
  src/components/ai/AutonomousAgentPanel.tsx
  src/components/ai/ScenarioSimulatorPanel.tsx
  src/components/auth/ActiveSessionDisplay.tsx
  src/components/dashboard/professional-header.tsx
  src/components/errors/ComponentErrorBoundary.tsx
  src/components/errors/CriticalRouteErrorBoundary.tsx
  src/components/errors/DashboardErrorBoundary.tsx
  src/components/errors/GlobalErrorBoundary.tsx
  src/components/errors/ModuleErrorBoundary.tsx
  src/components/layout/SmartSidebar.tsx
  src/components/layout/theme-provider.tsx
  src/components/performance/PerformanceMonitor.tsx
  src/components/settings/enhanced-settings-hub.tsx
  src/components/system/SystemControlPanel.tsx
  src/hooks/use-toast.ts
Due: ui, backend

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

fix: upgrade lucide-react from 0.462.0 to 0.562.0
  package-lock.json
  package.json
Due: none

fix: upgrade @supabase/supabase-js from 2.76.1 to 2.89.0
  package-lock.json
  package.json
Due: none

fix: upgrade posthog-js from 1.281.0 to 1.310.1
  package-lock.json
  package.json
Due: none

fix: upgrade firebase from 12.4.0 to 12.7.0
  package-lock.json
  package.json
Due: none

feat: Auditoria completa do sistema NAUTI ONE
  e2e/central-comando.spec.ts
  e2e/fleet-command.spec.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/imca-audit/IMCADPAuditDashboard.tsx
  src/components/voice/VoiceAssistantWithHotword.tsx
  src/hooks/unified/usePerformanceMetrics.ts
  src/hooks/useAuditLog.ts
  src/mobile/components/VoiceInterface.tsx
  src/pages/FleetCommandCenter.tsx
  src/pages/admin/mmi/forecast/ForecastHistory.tsx
  src/pages/admin/mmi/forecast/page.tsx
  src/pages/admin/mmi/history.tsx
  src/pages/admin/sgso/history/[vesselId].tsx
  src/pages/admin/sgso/review/[id].tsx
  src/pages/admin/workflows/detail.tsx
  src/pages/admin/workflows/index.tsx
  src/pages/ai/InventorySparesAIPage.tsx
  src/pages/ai/SafetyIncidentAIPage.tsx
  src/pages/ai/VoyageLogisticsAIPage.tsx
  src/pages/compliance/PrePSCDashboard.tsx
  src/pages/crew/index.tsx
  src/pages/dashboard/QualityDashboard.tsx
  src/pages/emerging/GenerativeAIPage.tsx
  src/pages/enterprise/RAGAssistantPage.tsx
  src/pages/intelligence/CompetitiveIntelligenceDashboard.tsx
  src/pages/mission-control/ai-command-center.tsx
  src/pages/mission-control/insight-dashboard.tsx
  src/pages/mission-control/workflow-engine.tsx
  src/pages/settings/Security.tsx
  src/pages/user/profile.tsx
  src/pages/vessel-contracts/hooks/useContractsData.ts
  supabase/migrations/20260131000000_create_system_audit_logs.sql
Due: ui, backend

docs: RelatÃ³rio de auditoria tÃ©cnica v3.0 completo
  docs/AUDIT_REPORT_V3.md
Due: none

docs: Lista completa de arquivos com dÃ­vida tÃ©cnica
  docs/TECHNICAL_DEBT_FILES.md
Due: none

feat: Gates CI + Limpeza console.logs em libs
  package.json
  scripts/gates/check-no-console.js
  scripts/gates/check-no-fake-api.js
  scripts/gates/check-no-mock.js
  scripts/gates/check-no-ts-ignore.js
  src/hooks/useLoopGuard.ts
  src/lib/ai/audit-logger.ts
  src/services/mocks/starfix.mock.ts
  src/services/mocks/terrastar.mock.ts
  src/tests/fixtures/index.ts
  src/tests/fixtures/starfix.fixture.ts
  src/tests/fixtures/terrastar.fixture.ts
Due: backend
