Repository RodrigoSC89/travel-hr-buddy: changes, and which Codecov flags are due for each by the changed paths.
All: ui, backend, ci

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: 80..100
  status:
    project:
      default:
        target: 85%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 1%
        informational: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

ignore:
  - "tests/"
  - "__tests__/"
  - "src/tests/"
  - "src/lib/dev/mocks/"
  - "src/assets/"
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/*.test.tsx"

flags:
  ui:
    paths:
      - "src/components/"
      - "src/modules/"
    carryforward: true
  backend:
    paths:
      - "src/api/"
      - "src/hooks/"
    carryforward: true
  ci:
    paths:
      - ".github/"
    carryforward: true

parsers:
  javascript:
    enable_partials: true

fix: add @ts-nocheck to 8 files with schema mismatches to unblock build
  src/components/workflows/KanbanAISuggestions.tsx
  src/config/lazy-modules.ts
  src/hooks/useOrganizationStats.ts
  src/services/smart-drills-engine.ts
  src/services/smart-drills.service.ts
  src/services/smart-scheduler.service.ts
  src/services/training-ai.service.ts
  src/utils/pwa-utils.ts
Due: ui, backend

fix: add @ts-nocheck to TenantContext
  build-output.txt
  src/contexts/TenantContext.tsx
Due: none

feat: add ModuleHarness dev page + convert heavy imports to lazy
  build-output.txt
  src/App.tsx
  src/ai/simulation/scenarioSimulator.ts
  src/pages/ModuleHarness.tsx
  src/pages/admin/mmi/orders.tsx
Due: none

fix: apply Opção A corrections - session.session_id, favicon_url, @ts-nocheck to 12 files
  DEV_MODULE_HARNESS_GUIDE.md
  src/components/auth/SessionManagement.tsx
  src/components/portal/professional-crew-dossier.tsx
  src/components/pre-ovid/PreOvidInspectionPanel.tsx
  src/components/sgso/AuditSubmissionForm.tsx
  src/components/templates/ApplyTemplateModal.tsx
  src/components/workflows/examples.tsx
  src/contexts/TenantContext.tsx
  src/hooks/use-ai-navigation.ts
  src/hooks/use-feature-flag.ts
  src/hooks/use-organization-permissions.ts
  src/services/api/starfix/starfix.service.ts
  src/services/api/terrastar/terrastar.service.ts
  src/services/reporting-engine.ts
  src/services/risk-ops.service.ts
Due: ui, backend

fix: solidify option A bypass and notification guard
  src/config/lazy-modules.ts
  src/hooks/use-enhanced-notifications.ts
Due: backend

feat: add workflow tables and re-enable typings for AI modules
  src/components/workflows/KanbanAISuggestions.tsx
  src/components/workflows/examples.tsx
  src/hooks/use-ai-navigation.ts
  src/hooks/use-feature-flag.ts
  src/hooks/use-organization-permissions.ts
  src/integrations/supabase/types.ts
  supabase/migrations/20251118090000_create_navigation_and_workflow_tables.sql
Due: ui, backend

refactor: align audit submission with sgso schema
  src/components/sgso/AuditSubmissionForm.tsx
Due: ui

refactor: re-enable typing in apply template modal
  src/components/templates/ApplyTemplateModal.tsx
Due: ui

fix: Implement Supabase-backed maritime templates and enhance audit log safety
  src/hooks/use-audit-log.tsx
  src/hooks/use-maritime-checklists.ts
Due: backend

fix: FASE 1 & 2.1 - Emergency build fix + database schema completion
  src/components/workflows/KanbanAISuggestions.tsx
  src/hooks/use-ai-navigation.ts
  src/hooks/use-enhanced-notifications.ts
  src/hooks/use-session-manager.ts
  src/hooks/use-users.ts
  src/hooks/useModules.ts
  src/modules/ai-training/TrainingDashboard.tsx
  src/modules/ai-vision-core/services/aiVisionService.ts
  supabase/migrations/20251124000000_create_missing_ai_tables.sql
Due: ui, backend

docs: Add comprehensive progress report for TypeScript fixes
  PROGRESS_REPORT_2025-01-24.md
Due: none

fix: FASE 2.3 & 3 - Remove @ts-nocheck and fix TypeScript errors
  src/components/workflows/KanbanAISuggestions.tsx
  src/hooks/use-ai-navigation.ts
  src/hooks/use-enhanced-notifications.ts
  src/hooks/use-session-manager.ts
  src/hooks/use-users.ts
  src/hooks/useModules.ts
  src/modules/ai-training/TrainingDashboard.tsx
  src/modules/ai-vision-core/services/aiVisionService.ts
Due: ui, backend

refactor: Remove @ts-nocheck from 2 more files
  src/config/lazy-modules.ts
  src/contexts/TenantContext.tsx
Due: none

refactor: Remove @ts-nocheck from 3 AI service files
  src/ai/engine.ts
  src/ai/services/checklistAutoFill.ts
  src/ai/services/incidentAnalyzer.ts
  src/ai/services/logsAnalyzer.ts
Due: none

fix: TypeScript errors in 8 Edge Functions - Deno refs and type assertions
  supabase/functions/generate-drill-evaluation/index.ts
  supabase/functions/generate-drill-scenario/index.ts
  supabase/functions/generate-report/index.ts
  supabase/functions/generate-scheduled-tasks/index.ts
  supabase/functions/generate-training-explanation/index.ts
  supabase/functions/generate-training-quiz/index.ts
  supabase/functions/ionosphere-processor/index.ts
  supabase/functions/space-weather-status/index.ts
Due: none

refactor: Remove duplicate @ts-nocheck from 7 service files
  src/security/trustComplianceChecker.ts
  src/services/oceanSonarAIService.ts
  src/services/satellite.service.ts
  src/services/sensorsHubService.ts
  src/services/sgso-audit-service.ts
  src/services/voice.service.ts
  src/ui/reaction-mapper/ReactionMapper.tsx
Due: none

refactor: Remove duplicate @ts-nocheck from 22 service files
  src/services/aiDocumentService.ts
  src/services/analytics.service.ts
  src/services/api/starfix/starfix.service.ts
  src/services/api/terrastar/terrastar.service.ts
  src/services/autonomy.service.ts
  src/services/coordinationAIService.ts
  src/services/deepRiskAIService.ts
  src/services/finance-hub.service.ts
  src/services/mmi/copilotApi.ts
  src/services/mmi/forecastStorageService.ts
  src/services/mmi/historyService.ts
  src/services/mmi/jobsApi.ts
  src/services/mmi/ordersService.ts
  src/services/mmi/pdfReportService.ts
  src/services/mmi/resolvedWorkOrdersService.ts
  src/services/mmi/similaritySearch.ts
  src/services/mmi/taskService.ts
  src/services/navigationCopilotV3Service.ts
  src/services/risk-ops.service.ts
  src/services/smart-scheduler.service.ts
  src/services/training-module.ts
  src/services/weatherService.ts
  src/services/workflow-api.ts
Due: none

refactor: Remove @ts-nocheck from 15 component files
  src/components/InteropDashboard.tsx
  src/components/admin/organization-branding-preview.tsx
  src/components/fuel/fuel-optimizer.tsx
  src/components/innovation/iot-realtime-sensors.tsx
  src/components/integrations/integrations-hub-enhanced.tsx
  src/components/integrations/integrations-hub.tsx
  src/components/portal/professional-crew-dossier.tsx
  src/components/pre-ovid/PreOvidInspectionPanel.tsx
  src/components/price-alerts/price-alert-dashboard.tsx
  src/components/reservations/ReservationPaymentSystem.tsx
  src/components/user-management/user-management-dashboard.tsx
  src/components/user/user-profile-dialog.tsx
  src/components/voice/VoiceAssistantSystem.tsx
  src/components/voice/VoiceIntegrations.tsx
  src/components/weather/weather-dashboard.tsx
Due: ui

refactor: Remove @ts-nocheck from 10 more component files
  src/components/intelligence/enhanced-ai-chatbot.tsx
  src/components/price-alerts/ai-price-predictor.tsx
  src/components/reservations/enhanced-reservations-dashboard.tsx
  src/components/sgso/FindingsManager.tsx
  src/components/sgso/audits/ActionPlanTab.tsx
  src/components/stress-test/stress-test-dashboard.tsx
  src/components/system/SystemResilienceMonitor.tsx
  src/components/system/functional-system-dashboard.tsx
  src/components/training/employee-portal-training.tsx
  src/components/voice/VoiceTestingPanel.tsx
Due: ui

refactor: Remove @ts-nocheck from 20 component files (batch 4)
  src/components/integrations/advanced-integrations-hub.tsx
  src/components/intelligence/ai-assistant-enhanced.tsx
  src/components/onboarding/organization-setup-wizard.tsx
  src/components/operations/OperationsDashboardRealTime.tsx
  src/components/operations/operations-dashboard.tsx
  src/components/peo-dp/peo-dp-wizard.tsx
  src/components/peotram/peotram-reports-generator.tsx
  src/components/performance/performance-monitor.tsx
  src/components/portal/crew-selection.tsx
  src/components/portal/modern-employee-portal.tsx
  src/components/projects/project-timeline.tsx
  src/components/reports/AIReportGenerator.tsx
  src/components/resilience/ComplianceDashboard.tsx
  src/components/resilience/IncidentResponsePanel.tsx
  src/components/saas/billing-management.tsx
  src/components/search/intelligent-global-search.tsx
  src/components/sgso/SGSOManager.tsx
  src/components/sgso/sgso-audit-editor.tsx
  src/components/ui/executive-metrics-panel.tsx
  src/components/ui/performance-metrics.tsx
Due: ui

refactor: Remove @ts-nocheck from 10 component files
  src/components/dashboard/strategic-dashboard.tsx
  src/components/feedback/BetaFeedbackForm.tsx
  src/components/forecast/ForecastPanel.tsx
  src/components/interop/InteropDashboard.tsx
  src/components/logistics/DeliveryMap.tsx
  src/components/logistics/inventory-management.tsx
  src/components/logistics/logistics-hub-dashboard.tsx
  src/components/logistics/shipment-tracking.tsx
  src/components/maritime/maritime-system-dashboard.tsx
  src/components/mission-control/workflow-builder.tsx
Due: ui

refactor: Remove @ts-nocheck from 10 more files
  src/components/admin/organization-customization.tsx
  src/components/dashboard/enhanced-dashboard.tsx
  src/components/dashboard/enhanced-unified-dashboard.tsx
  src/components/dashboard/organization-health-check.tsx
  src/components/feedback/user-feedback-system.tsx
  src/components/fleet/FleetCommandCenter.tsx
  src/components/fleet/FleetTelemetryDashboard.tsx
  src/components/fleet/fleet-management-dashboard.tsx
  src/components/fleet/vessel-management-system.tsx
  src/components/fleet/vessel-management.tsx
Due: ui

refactor: Remove @ts-nocheck from 12 component files
  src/components/dashboard/ai-evolution/AIEvolutionDashboard.tsx
  src/components/dashboard/dashboard-widgets.tsx
  src/components/documents/CollaborativeDocumentEditor.tsx
  src/components/documents/DocumentEditor.tsx
  src/components/documents/DocumentVersionHistory.tsx
  src/components/documents/SemanticDocumentSearch.tsx
  src/components/documents/ai-documents-analyzer.tsx
  src/components/dp-intelligence/DPAIAnalyzer.tsx
  src/components/dp-intelligence/DPRealtime.tsx
  src/components/dp/DPAlertFeed.tsx
  src/components/dp/DPStatusBoard.tsx
  src/components/dp/DPSyncDashboard.tsx
Due: ui

fix: resolve TypeScript build errors in 5 critical files
  src/components/dashboard/enhanced-dashboard.tsx
  src/components/reservations/enhanced-reservations-dashboard.tsx
  src/services/api/starfix/starfix.service.ts
  src/services/reporting-engine.ts
  src/services/smart-drills-engine.ts
Due: ui

fix: resolve additional TypeScript errors in services
  src/components/reservations/enhanced-reservations-dashboard.tsx
  src/services/api/starfix/starfix.service.ts
  src/services/reporting-engine.ts
  src/services/smart-drills.service.ts
  src/services/smart-scheduler.service.ts
  src/services/training-ai.service.ts
Due: ui

fix: resolve TypeScript errors for missing database tables and RPC functions
  src/services/api/terrastar/terrastar.service.ts
  src/services/pre-psc.service.ts
  src/services/reporting-engine.service.ts
  src/services/risk-ops.service.ts
  src/services/smart-drills-engine.ts
  supabase/functions/ionosphere-processor/index.ts
  supabase/functions/space-weather-status/index.ts
Due: none

fix: resolve mlc-inspection, messageService and additional TypeScript errors
  src/services/messageService.ts
  src/services/mlc-inspection.service.ts
  src/services/pre-psc.service.ts
  src/services/risk-ops.service.ts
Due: none

fix: resolve implicit any types and schema mismatches in service files
  src/services/imca-audit-service.ts
  src/services/integrations.service.ts
  src/services/reporting-engine.service.ts
Due: none

fix: resolve mission-control.service.ts schema mismatches with @ts-ignore
  src/services/mission-control.service.ts
Due: none

fix: resolve hooks, components, and utility TypeScript errors
  src/ai/simulation/scenarioSimulator.ts
  src/components/portal/professional-crew-dossier.tsx
  src/components/workflows/KanbanAISuggestions.tsx
  src/components/workflows/examples.tsx
  src/config/lazy-modules.ts
  src/contexts/TenantContext.tsx
  src/hooks/use-ai-navigation.ts
  src/hooks/use-enhanced-notifications.ts
  src/hooks/use-feature-flag.ts
  src/hooks/use-maritime-checklists.ts
  src/utils/pwa-utils.ts
  src/utils/safeLazyImport.tsx
  tests/modules/lsa-ffa.test.ts
Due: ui, backend

fix: suppress TypeScript errors in test files with @ts-nocheck
  tests/analytics-core-new.spec.ts
  tests/bridgelink.spec.ts
  tests/control-hub.spec.ts
  tests/e2e/document-upload.spec.ts
  tests/e2e/ism.cy.ts
  tests/e2e/lsa-ffa.cy.ts
  tests/e2e/ovid.cy.ts
  tests/e2e/psc.cy.ts
  tests/e2e/travel.cy.ts
  tests/finance-hub.test.ts
  tests/nautilus-beta-3.2.test.ts
  tests/patches-586-590.test.ts
  tests/pre-psc.test.tsx
  tests/preview_loop_guard.test.ts
  tests/score-validation.test.ts
Due: none

fix: resolve source file TypeScript errors with schema casts and type declarations
  src/ai/engine.ts
  src/ai/services/checklistAutoFill.ts
  src/hooks/use-audit-log.tsx
  src/lib/validators/cross-module-validator.ts
  src/services/voice.service.ts
  src/tests/jobs-forecast-report.test.tsx
  src/ui/reaction-mapper/ReactionMapper.tsx
  src/utils/loopDebugger.ts
  src/utils/performance-utils.ts
  tests/patch-408-voice-assistant.test.tsx
  tests/patch-632-copilot-v2.test.ts
  tests/patches-226-230.test.ts
  tests/protected-routes.test.tsx
  tests/unit/control-hub.test.ts
  vitest.setup.ts
Due: backend

ajustes parte 2
  src/App.tsx
  src/components/layout/module-error-boundary.tsx
  src/lib/dev-global-errors.ts
  src/lib/safe-lazy.ts
  src/modules/operations/crew-wellbeing/components/HealthCheckin.tsx
Due: ui

Correção abacus
  vite.config.ts
Due: none

Fix: Força resolução única do React para corrigir erro useEffect
  package.json
Due: none

Add resolutions for React and related packages
  .npmrc
Due: none

Refactor vercel.json for build and environment settings
  vercel.json
Due: none

Update React Flight/Next.js RCE vulnerability
  package.json
Due: none

fix: resolve React useEffect null error due to type version mismatch
  APPLY_FIX_MANUALLY.md
  FIX_REACT_ERROR.md
  RESUMO_CORRECAO.md
  package.json
  scripts/fix-react-error.sh
  vite.config.ts
Due: none
