Repository RodrigoSC89/travel-hr-buddy: changes, and which Codecov flags are due for each by the changed paths.
All: ui, backend, ci

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: 80..100
  status:
    project:
      default:
        target: 85%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 1%
        informational: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

ignore:
  - "tests/"
  - "__tests__/"
  - "src/tests/"
  - "src/lib/dev/mocks/"
  - "src/assets/"
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/*.test.tsx"

flags:
  ui:
    paths:
      - "src/components/"
      - "src/modules/"
    carryforward: true
  backend:
    paths:
      - "src/api/"
      - "src/hooks/"
    carryforward: true
  ci:
    paths:
      - ".github/"
    carryforward: true

parsers:
  javascript:
    enable_partials: true

fix: PATCH 854.0 - Correção definitiva do erro 'Cannot read properties of null (reading useEffect)'
  REVIEW_FIX_REACT_QUERY.md
  package-lock.json
  package.json
  scripts/clean-react-cache.sh
  src/App.tsx
  src/lib/performance/query-config.ts
  vite.config.ts
Due: none

docs: adiciona número do PR #1640 ao relatório de correção
  REVIEW_FIX_REACT_QUERY.md
Due: none

FASE 2.5: Correção de rotas órfãs - 10 páginas principais
  CHANGELOG_FASE2.5_ROUTES.md
  src/modules/registry.ts
Due: ui

feat(typescript): Habilitar strict mode completo - FASE 2.5 Correção 3
  CHANGELOG_FASE2.5_TYPESCRIPT_STRICT.md
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: none

docs: adicionar RESUMO_FINAL_FASE2 com todas as conquistas da FASE 2 + FASE 2.5
  RESUMO_FINAL_FASE2.md
Due: none

feat(accessibility): Implement WCAG 2.1 AA compliance improvements - FASE 3.2
  .abacus.donotdelete
  CHANGELOG_FASE3_ACCESSIBILITY.md
  docs/ACCESSIBILITY_GUIDE.md
  docs/ACCESSIBILITY_GUIDE.pdf
  reports/accessibility/critical-components-analysis.md
  reports/accessibility/static-analysis-20251211-182346.md
  reports/accessibility/static-analysis-latest.md
  scripts/accessibility-audit.ts
  scripts/fix-image-alt-text.sh
  scripts/identify-critical-components.sh
  scripts/static-accessibility-analysis.sh
  src/components/layout/SmartLayout.tsx
  src/components/ui/clickable.tsx
  src/hooks/useAccessibility.ts
  src/styles/accessibility.css
  src/utils/accessibility.ts
Due: ui, backend

feat(fase3.3): Implementar Error Boundaries e Tracking de Erros
  .abacus.donotdelete
  CHANGELOG_FASE3_ERROR_HANDLING.md
  src/App.tsx
  src/components/errors/ComponentErrorBoundary.tsx
  src/components/errors/DashboardErrorBoundary.tsx
  src/components/errors/GlobalErrorBoundary.tsx
  src/components/errors/ModuleErrorBoundary.tsx
  src/components/errors/RouteErrorBoundary.tsx
  src/components/errors/fallbacks/ErrorFallback.tsx
  src/components/errors/fallbacks/ModuleErrorFallback.tsx
  src/components/errors/fallbacks/NetworkErrorFallback.tsx
  src/components/errors/fallbacks/RouteErrorFallback.tsx
  src/components/errors/fallbacks/index.ts
  src/components/errors/index.ts
  src/lib/errors/axios-interceptors.ts
  src/lib/errors/error-recovery.ts
  src/lib/errors/error-tracking-service.ts
  src/lib/errors/fetch-with-error-handling.ts
  src/lib/errors/index.ts
  src/lib/errors/retry-logic.ts
  src/lib/errors/types.ts
  tests/e2e/error-boundaries.spec.ts
Due: ui

docs: adicionar RESUMO_FINAL_FASE3 com todas as conquistas e métricas da FASE 3
  RESUMO_FINAL_FASE3.md
Due: none

fix: Resolve React Query Provider useEffect null error
  FIX_REACT_QUERY_PROVIDER.md
  FIX_REACT_QUERY_PROVIDER.pdf
  PREVIEW_REPORT.md
  PREVIEW_REPORT.pdf
  src/components/errors/fallbacks/RouteErrorFallback.tsx
  vite.config.ts
Due: ui

docs: Adicionar documentação completa do fix do erro React child
  FIX_REACT_CHILD_ERROR.md
Due: none

fix: Corrigir import de ícone inexistente em RouteErrorFallback
  src/components/errors/fallbacks/RouteErrorFallback.tsx
Due: ui

feat(FASE-A2): Correção rotas críticas e implementação fallbacks elegantes
  .abacus.donotdelete
  ANALISE_TECNICA_FASE_A.md
  ANALISE_TECNICA_FASE_A.pdf
  CHANGELOG_FASE_A2_ROTAS.md
  FASE_A_ARQUIVOS_CRIADOS.md
  FASE_A_ROADMAP_VISUAL.md
  FASE_A_ROADMAP_VISUAL.pdf
  FASE_A_SUMARIO_EXECUTIVO.md
  FASE_A_SUMARIO_EXECUTIVO.pdf
  FIX_REACT_CHILD_ERROR.pdf
  RELATORIO_MERGE_FINAL.md
  RELATORIO_MERGE_FINAL.pdf
  RESUMO_FINAL_FASE3.pdf
  analysis-reports/all-components.txt
  analysis-reports/all-pages.txt
  analysis-reports/all-source-files.txt
  analysis-reports/bundle-analysis.json
  analysis-reports/dead-code-analysis.json
  analysis-reports/heavy-imports.txt
  analysis-reports/imported-components.txt
  analysis-reports/imported-pages.txt
  analysis-reports/large-images.txt
  analysis-reports/routes-analysis.json
  analysis-reports/total-imports.txt
  scripts/README_ANALISE.md
  scripts/analyze-bundle.sh
  scripts/analyze-dead-code.sh
  scripts/analyze-routes.sh
  src/App.tsx
  src/components/errors/CriticalRouteErrorBoundary.tsx
  src/components/errors/fallbacks/DataEmpty.tsx
  src/components/errors/fallbacks/ModuleNotFound.tsx
  src/components/errors/fallbacks/index.ts
  src/components/errors/index.ts
  src/modules/registry.ts
  src/utils/module-routes.ts
Due: ui

feat(fase-a3): Análise inicial de código morto - 66 arquivos identificados
  dead_code_analysis.json
  dead_code_categorized.json
Due: none

feat(fase-a3): Criar estrutura /legacy para arquivamento de código
  legacy/README.md
Due: none

refactor(fase-a3): Remover arquivos .backup (Lote 1/4)
  .abacus.donotdelete
  package-lock.json
  package.json
  src/modules/analytics/AnalyticsCore.tsx.backup
  src/modules/api-gateway/ApiGateway.tsx.backup
Due: ui

refactor(fase-a3): Remover teste órfão old (Lote 3/4)
  tests/unit/document-hub-old.test.ts
Due: none

fix(fase-a3): Adicionar dependência axios faltante
  package-lock.json
  package.json
Due: none

docs(fase-a3): Adicionar CHANGELOG completo da FASE A.3
  CHANGELOG_FASE_A3_CODIGO_MORTO.md
Due: none

🚀 FASE A.4: Performance Optimization para conexões lentas (<2 Mbps)
  .abacus.donotdelete
  CHANGELOG_FASE_A4_PERFORMANCE.md
  image-optimization-report.json
  package-lock.json
  package.json
  public/nautilus-logo-large.webp
  public/nautilus-logo-medium.webp
  public/nautilus-logo-small.webp
  public/nautilus-logo.webp
  scripts/optimize-images.cjs
  scripts/performance-test.html
  src/assets/nautilus-logo-large.webp
  src/assets/nautilus-logo-medium.webp
  src/assets/nautilus-logo-new-large.webp
  src/assets/nautilus-logo-new-medium.webp
  src/assets/nautilus-logo-new-small.webp
  src/assets/nautilus-logo-new.webp
  src/assets/nautilus-logo-small.webp
  src/assets/nautilus-logo.webp
  src/components/common/OptimizedImage.tsx
  src/components/loaders/ComponentLoader.tsx
  src/components/loaders/PageLoader.tsx
  src/components/loaders/ProgressLoader.tsx
  src/components/loaders/SkeletonLoader.tsx
  src/components/loaders/index.ts
  src/utils/critical-css.ts
  vite.config.ts
Due: ui

chore: Atualizar metadata do projeto
  .abacus.donotdelete
Due: none

feat(FASE-B2): Consolidação de Dashboards Executive e Analytics
  .abacus.donotdelete
  ANALISE_FASE_B_MODULOS.md
  ANALISE_FASE_B_MODULOS.pdf
  CHANGELOG_FASE_B2_DASHBOARDS.md
  MIGRATION_GUIDE_DASHBOARDS.md
  MIGRATION_GUIDE_DASHBOARDS.pdf
  command_center_analysis_report.json
  command_center_analysis_report.txt
  dashboard_analysis_report.json
  dashboard_analysis_report.txt
  scripts/analyze-command-centers.sh
  scripts/analyze-dashboards.sh
  scripts/analyze-services-utilities.sh
  scripts/create-similarity-matrix.py
  scripts/find-similar-components.sh
  services_utilities_report.json
  services_utilities_report.txt
  similar_components_report.json
  similar_components_report.txt
  similarity_matrix_report.json
  similarity_matrix_report.txt
  src/components/analytics/analytics-dashboard-new.tsx
  src/components/dashboard-base/AnalyticsDashboardBase.tsx
  src/components/dashboard-base/ExecutiveDashboardBase.tsx
  src/components/dashboard-base/configs/analytics-dashboard-example.config.ts
  src/components/dashboard-base/configs/executive-dashboard-example.config.ts
  src/components/dashboard-base/hooks/useDashboardData.ts
  src/components/dashboard-base/hooks/useDashboardExport.ts
  src/components/dashboard-base/hooks/useDashboardFilters.ts
  src/components/dashboard-base/index.ts
  src/components/dashboard-base/widgets/ChartWidget.tsx
  src/components/dashboard-base/widgets/FilterPanel.tsx
  src/components/dashboard-base/widgets/KPICard.tsx
  src/components/dashboard-base/widgets/MetricIndicator.tsx
  src/components/dashboard-base/widgets/TableWidget.tsx
  src/components/dashboard/executive-dashboard-new.tsx
  src/types/dashboard-config.ts
Due: ui

[FEAT] FASE B.3 - Command Centers Consolidation
  .abacus.donotdelete
  ANALYSIS_COMMAND_CENTERS.md
  ANALYSIS_COMMAND_CENTERS.pdf
  CHANGELOG_FASE_B3_COMMAND_CENTERS.md
  src/components/unified/document-center/DocumentCenterBase.tsx
  src/components/unified/document-center/DocumentCenterContext.tsx
  src/components/unified/document-center/DocumentCenterProvider.tsx
  src/components/unified/document-center/components/DocumentCard.tsx
  src/components/unified/document-center/components/DocumentFilters.tsx
  src/components/unified/document-center/components/DocumentList.tsx
  src/components/unified/document-center/components/DocumentUploader.tsx
  src/components/unified/document-center/components/index.ts
  src/components/unified/document-center/configs/advanced-document-center.config.ts
  src/components/unified/document-center/configs/contract-management.config.ts
  src/components/unified/document-center/configs/fleet-documentation.config.ts
  src/components/unified/document-center/configs/index.ts
  src/components/unified/document-center/hooks/index.ts
  src/components/unified/document-center/hooks/useDocumentActions.ts
  src/components/unified/document-center/hooks/useDocumentCenter.ts
  src/components/unified/document-center/index.ts
  src/components/unified/document-center/types.ts
  src/components/unified/notification-center/NotificationCenterContext.tsx
  src/components/unified/notification-center/NotificationCenterProvider.tsx
  src/components/unified/notification-center/hooks/index.ts
  src/components/unified/notification-center/hooks/useNotificationActions.ts
  src/components/unified/notification-center/hooks/useNotificationCenter.ts
  src/components/unified/notification-center/index.ts
Due: ui

feat(tests): FASE B.4 - Expansão de Testes E2E (+69 testes, +10% cobertura)
  CHANGELOG_FASE_B4_TESTES.md
  tests/e2e/audit-critical-flows.spec.ts
  tests/e2e/command-center-consolidated.spec.ts
  tests/e2e/dashboard-consolidated.spec.ts
  tests/e2e/esg-critical-flows.spec.ts
  tests/e2e/fixtures/command-center.fixtures.ts
  tests/e2e/fixtures/dashboard.fixtures.ts
  tests/e2e/helpers/command-center.helpers.ts
  tests/e2e/helpers/dashboard.helpers.ts
  tests/e2e/maintenance-critical-flows.spec.ts
Due: none

chore: atualização de metadados do projeto
  .abacus.donotdelete
Due: none

fix(critical): Correção DEFINITIVA do deploy Vercel
  .npmrc
  FIX_FULL_BUILD_DEPLOY.md
  scripts/verify-build.sh
  vercel.json
Due: none

docs: Add comprehensive fix report for repository stabilization
  FIX_REPO_REPORT.md
Due: none

docs: Add comprehensive runtime fix report
  RUNTIME_FIX_REPORT.md
Due: none

docs: Add final stabilization report - Complete
  STABILIZATION_COMPLETE.md
Due: none

docs: Add comprehensive typing implementation report
  TYPING_IMPLEMENTATION_REPORT.md
Due: none
