Repository RodrigoSC89/travel-hr-buddy: changes, and which Codecov flags are due for each by the changed paths.
All: ui, backend, ci

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: 80..100
  status:
    project:
      default:
        target: 85%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 1%
        informational: false

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true

ignore:
  - "tests/"
  - "__tests__/"
  - "src/tests/"
  - "src/lib/dev/mocks/"
  - "src/assets/"
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/*.test.tsx"

flags:
  ui:
    paths:
      - "src/components/"
      - "src/modules/"
    carryforward: true
  backend:
    paths:
      - "src/api/"
      - "src/hooks/"
    carryforward: true
  ci:
    paths:
      - ".github/"
    carryforward: true

parsers:
  javascript:
    enable_partials: true

Correção primeira parte - Loading travado em alguns modulos iniciais
  src/components/layout/SmartLayout.tsx
Due: ui

fix: resolver erros TypeScript e adicionar tabelas faltantes
  package.json
  src/services/ai-training-engine.ts
  src/services/risk-operations-engine.ts
  supabase/functions/_shared/types.ts
  supabase/functions/generate-drill-evaluation/index.ts
  supabase/functions/generate-drill-scenario/index.ts
  supabase/functions/generate-report/index.ts
  supabase/functions/generate-scheduled-tasks/index.ts
  supabase/functions/generate-training-explanation/index.ts
  supabase/functions/generate-training-quiz/index.ts
  supabase/migrations/20250108_training_and_risk_tables.sql
Due: none

feat: criar migrations para tabelas faltantes e resolver erros TypeScript
  src/services/smart-drills.service.ts
  src/services/smart-scheduler.service.ts
  src/services/training-ai.service.ts
  supabase/migrations/20250109_create_ai_training_tables.sql
  supabase/migrations/20250109_create_scheduled_tasks_table.sql
  supabase/migrations/20250109_create_smart_drills_tables.sql
Due: none

docs: adicionar guias para aplicar migrations no Supabase
  CHECKLIST_MIGRATIONS.md
  GUIA_APLICAR_MIGRATIONS.md
  GUIA_RAPIDO_MIGRATIONS.md
Due: none

fix: criar tabela organization_members (pré-requisito para todas as migrations)
  supabase/migrations/20250106_create_organization_members_table.sql
Due: none

fix: versão idempotente da migration organization_members
  supabase/migrations/20250106_verify_organization_members.sql
Due: none

fix: adicionar DROP FUNCTION antes de recriar funções SQL
  supabase/migrations/20250107_fix_sql_functions_search_path.sql
Due: none

fix: tornar funções SQL condicionais baseadas em existência de tabelas
  supabase/migrations/20250107_fix_sql_functions_search_path.sql
Due: none

chore: remover @ts-nocheck de serviços críticos após aplicar migrations
  MIGRATIONS_COMPLETAS_SUPABASE.md
  TODAS_MIGRATIONS_PARA_SUPABASE.md
  src/integrations/supabase/types.ts
  src/services/ai-training-engine.ts
  src/services/risk-operations-engine.ts
  src/services/smart-drills.service.ts
  src/services/smart-scheduler.service.ts
  src/services/training-ai.service.ts
Due: none

fix(types): allow optional message in useTerrastar; add Deno/esm ambient types for supabase functions
  src/components/ErrorBoundary.tsx
  src/hooks/useTerrastar.ts
  src/services/space-weather/hybrid-monitoring.service.ts
  src/services/space-weather/space-weather-monitoring.service.ts
  src/types/space-weather.types.ts
  supabase/functions/deno-ambient.d.ts
Due: ui, backend

refactor(services): remove @ts-nocheck from 10 critical service files - clean TypeScript types
  src/services/imca-audit-service.ts
  src/services/integrations.service.ts
  src/services/messageService.ts
  src/services/mission-control.service.ts
  src/services/mlc-inspection.service.ts
  src/services/mmi/embeddingService.ts
  src/services/mmi/forecastService.ts
  src/services/pre-psc.service.ts
  src/services/reporting-engine.service.ts
  src/services/risk-ops.service.ts
Due: none

refactor(components): remove @ts-nocheck from UI components (data-table, NotificationCenter, SGSO audits) + fix type issues
  src/components/sgso/AuditSubmissionForm.tsx
  src/components/sgso/AuditsList.tsx
  src/components/ui/NotificationCenter.tsx
  src/components/ui/data-table.tsx
Due: ui

refactor: remove @ts-nocheck from 13 files (hooks + voice/forecast components) - build passing
  src/components/forecast/ForecastAIInsights.tsx
  src/components/voice/VoiceConnectionMonitor.tsx
  src/hooks/index.ts
  src/hooks/use-ai-navigation.ts
  src/hooks/use-enhanced-notifications.ts
  src/hooks/use-feature-flag.ts
  src/hooks/use-maritime-checklists.ts
  src/hooks/use-organization-permissions.ts
  src/hooks/use-users.ts
  src/hooks/useExpenses.ts
  src/hooks/useModules.ts
  src/hooks/useNavigationStructure.ts
  src/hooks/useOrganizationStats.ts
  src/integrations/supabase/types.ts
  src/integrations/supabase/types_new.ts
Due: ui, backend

refactor: remove @ts-nocheck from 8 component files (strategic, templates, workflows) - 35 total cleaned
  src/components/strategic/ClientCustomization.tsx
  src/components/strategic/IntegrationMarketplace.tsx
  src/components/strategic/NauticalCopilot.tsx
  src/components/strategic/SmartIntegrationHub.tsx
  src/components/templates/ApplyTemplateModal.tsx
  src/components/templates/TemplateEditor.tsx
  src/components/workflows/KanbanAISuggestions.tsx
  src/components/workflows/examples.tsx
Due: ui

feat(types): regenerate Supabase TypeScript types after migrations (15,213 lines)
  generate-types-script.js
  src/integrations/supabase/types.ts
Due: none

fix(types): corrigir exports em hooks/index.ts e nullsLast em use-feature-flag
  regenerate-supabase-types.ps1
  src/hooks/index.ts
  src/hooks/use-feature-flag.ts
  supabase/.temp/cli-latest
Due: backend

fix(types): corrigir erros em useExpenses, use-maritime-checklists e ai-training-engine
  src/hooks/use-maritime-checklists.ts
  src/hooks/useExpenses.ts
  src/services/ai-training-engine.ts
Due: backend

fix(types): corrigir null/undefined em complianceScore e campos incorretos em ai-training-engine
  src/hooks/use-maritime-checklists.ts
  src/services/ai-training-engine.ts
Due: backend

perf(modules): implement lazy loading for heavy modules (ONNX, XLSX) to prevent system freeze
  src/components/common/ModuleFallbacks.tsx
  src/config/lazy-modules.ts
  src/modules/intelligence/dp-intelligence/components/DPAIAnalyzer.tsx
  src/modules/logistics/logistics-hub/components/InventoryAlerts.tsx
Due: ui

docs: add guide for problematic modules and performance fixes
  MODULOS_PROBLEMATICOS_GUIA.md
Due: none

fix(types): corrigir exports em hooks, user?.id guard em useExpenses, schema typing em integrations, Flask->Beaker
  src/hooks/index.ts
  src/hooks/useExpenses.ts
  src/hooks/useNavigationStructure.ts
  src/services/integrations.service.ts
Due: backend

feat(db): add missing tables (webhook_integrations, mission_agents, oauth_connections, integration_plugins) and regenerate types
  SQL_APLICAR_URGENTE.sql
  apply-urgent-sql.js
  src/integrations/supabase/types.ts
Due: none

fix: regenerar tipos Supabase apos aplicar migrations urgentes
  src/modules/logistics/logistics-hub/components/InventoryAlerts.tsx
Due: ui

fix: corrigir export default InventoryAlerts para lazy loading
  src/modules/logistics/logistics-hub/components/InventoryAlerts.tsx
Due: ui

perf: converter 16 imports pesados para lazy loading (ONNX, XLSX, TensorFlow, THREE)
  fix-heavy-imports.js
  src/ai/nautilus-inference.ts
  src/ai/vision/copilotVision.ts
  src/components/dp-intelligence/DPAIAnalyzer.tsx
  src/components/dp/DPSyncDashboard.tsx
  src/components/forecast/ForecastAI.tsx
  src/components/forecast/ForecastAIInsights.tsx
  src/components/projects/project-timeline.tsx
  src/components/voice/VoiceConnectionMonitor.tsx
  src/lib/ai/forecast-engine.ts
  src/lib/ai/maintenance-orchestrator.ts
  src/modules/ai-vision-core/services/aiVisionService.ts
  src/modules/compliance/compliance-reports/index.tsx
  src/modules/esg-dashboard/services/ESGReportExporter.ts
  src/pages/admin/satellite-tracker.tsx
  src/services/deepRiskAIService.ts
  src/xr/simulation/Scenario3D.tsx
Due: ui

fix: corrigir import InventoryAlerts e bigint em ForecastAIInsights
  src/modules/logistics/logistics-hub/index.tsx
Due: ui

docs: relatorio executivo de performance fix - 16 modulos otimizados
  PERFORMANCE_FIX_RELATORIO.md
Due: none

fix: corrigir lazy loading types + IntegrationMarketplace LucideIcon + RLS policies
  src/ai/nautilus-inference.ts
  src/ai/vision/copilotVision.ts
  src/components/strategic/ClientCustomization.tsx
  src/components/strategic/IntegrationMarketplace.tsx
  supabase/migrations/20251114000001_add_rls_policies_missing_tables.sql
Due: ui

docs: relatório final de correções - build passing + RLS policies
  RELATORIO_CORRECOES_FINAL.md
Due: none

feat: remover @ts-nocheck de 3 arquivos core + instruções RLS manual
  APLICAR_RLS_MANUAL.md
  apply-migrations.mjs
  apply-rls-policies.js
  src/contexts/TenantContext.tsx
  src/hooks/useNavigationStructure.ts
  src/integrations/supabase/types_new.ts
  src/services/ai-training-engine.ts
  src/services/risk-operations-engine.ts
  src/types/webxr-polyfill.d.ts
  src/utils/pwa-utils.ts
  src/xr/xrInterfaceCore.ts
Due: backend

docs: status final completo - sistema 100% operacional
  STATUS_FINAL_SISTEMA.md
Due: none

fix(safeLazyImport): add import timeout to avoid infinite Suspense spinner
  src/utils/safeLazyImport.tsx
Due: none

feat: add comprehensive error diagnosis system for lazy imports
  RELATORIO_VALIDACAO_SISTEMA.md
  VALIDACAO_SISTEMA.md
  src/App.tsx
  src/components/debug/ErrorDebugBanner.tsx
  src/contexts/TenantContext.tsx
  src/utils/safeLazyImport.tsx
Due: ui

docs: comprehensive dashboard loading diagnosis guide
  DASHBOARD_LOADING_DIAGNOSTICO.md
Due: none

fix: use safeLazyImport for Dashboard instead of lazyWithPreload
  src/App.tsx
Due: none

docs: complete resolution of Dashboard infinite loading issue
  DASHBOARD_LOADING_RESOLVIDO.md
Due: none

fix: remove duplicate HealthCheckin.tsx (case conflict)
  src/modules/operations/crew-wellbeing/components/HealthCheckin.tsx
Due: ui

fix: resolve type error in useNavigationStructure
  src/hooks/useNavigationStructure.ts
  src/modules/operations/crew-wellbeing/components/HealthCheckIn.tsx
Due: ui, backend

docs: security fixes ready to apply (RLS + search_path)
  APLICAR_SECURITY_FIXES.md
Due: none
